In [1]:
import csv
import pandas as pd
import pickle
from numpy import random
from sklearn.manifold import TSNE
import re
import matplotlib.pyplot as plt

In [2]:
with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/val_data_final.pkl' , 'rb') as f:
    val = pd.read_pickle(f)

In [3]:

with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/train_data_final.pkl' , 'rb') as f:
    train = pd.read_pickle(f)

In [4]:
with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/test_data_final.pkl' , 'rb') as f:
    test = pd.read_pickle(f)

In [5]:
test=pd.get_dummies(data=test, columns=['CompanyName'])
train=pd.get_dummies(data=train, columns=['CompanyName'])
val=pd.get_dummies(data=val, columns=['CompanyName'])

In [6]:
train.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,ClosingPrice,City,State,NAICS,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,X16G9CO003,2007-03-19,2007,3,7.0,Antitrust & Trade,31.98,Wood Dale,IL,423860.0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
val.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,ClosingPrice,City,State,NAICS,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,X1HND4A003,2012-05-11,2012,5,7.0,Contracts,14.95,Wood Dale,IL,423860.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
test.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,ClosingPrice,City,State,NAICS,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,X1HT4F0N,2013-05-21,2013,5,7.0,Consumer Law,19.67,Wood Dale,IL,423860.0,...,0,0,0,0,0,0,0,0,0,0

# Divide data in categories

In [9]:
val7=val.loc[val["Category"]==7]
train7=train.loc[train["Category"]==7]
test7=test.loc[test["Category"]==7]

val6=val.loc[val["Category"]==6]
train6=train.loc[train["Category"]==6]
test6=test.loc[test["Category"]==6]

# Drop extra columns from full Data and create X and Y

In [10]:
val.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category','City','State','NAICS'], axis=1, inplace=True)

test.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1, inplace=True)

train.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1, inplace=True)

In [11]:
ytest=test['LogDiff']
xtest=test.drop('LogDiff',axis=1)

In [12]:
ytrain=train['LogDiff']
xtrain=train.drop('LogDiff',axis=1)

In [13]:
yval=val['LogDiff']
xval=val.drop('LogDiff',axis=1)

In [14]:
xtrain.head(3)

,0,1,2,3,4,5,6,7,8,9,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,-1.089033,-2.653652,1.824786,-4.444734,0.076666,-2.028076,2.592533,1.273521,-1.953467,0.336785,...,0,0,0,0,0,0,0,0,0,0
1,-1.089033,-2.653652,1.824786,-4.444734,0.076666,-2.028076,2.592533,1.273521,-1.953467,0.336785,...,0,0,0,0,0,0,0,0,0,0
2,-1.089033,-2.653652,1.824786,-4.444734,0.076666,-2.028076,2.592533,1.273521,-1.953467,0.336785,...,0,0,0,0,0,0,0,0,0,0

In [15]:
ytrain.head(3)

0   -0.256809
1   -0.033473
2   -0.214262
Name: LogDiff, dtype: float64

In [16]:
ytest.head(3)

0   -0.316670
1   -0.340422
2   -0.033813
Name: LogDiff, dtype: float64

In [17]:
xtest.head(3)

,0,1,2,3,4,5,6,7,8,9,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,-5.355756,-4.489954,-1.216706,-0.793479,3.504418,-1.319556,1.916924,2.390682,-3.472963,-1.067831,...,0,0,0,0,0,0,0,0,0,0
1,-5.355756,-4.489954,-1.216706,-0.793479,3.504418,-1.319556,1.916924,2.390682,-3.472963,-1.067831,...,0,0,0,0,0,0,0,0,0,0
2,-5.355756,-4.489954,-1.216706,-0.793479,3.504418,-1.319556,1.916924,2.390682,-3.472963,-1.067831,...,0,0,0,0,0,0,0,0,0,0

In [18]:
xval.head(3)

,0,1,2,3,4,5,6,7,8,9,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,-0.62676,-6.116092,-0.269485,-5.111804,-2.906082,0.131607,-7.342483,4.433392,-2.143173,-1.813515,...,0,0,0,0,0,0,0,0,0,0
1,-0.62676,-6.116092,-0.269485,-5.111804,-2.906082,0.131607,-7.342483,4.433392,-2.143173,-1.813515,...,0,0,0,0,0,0,0,0,0,0
2,-0.62676,-6.116092,-0.269485,-5.111804,-2.906082,0.131607,-7.342483,4.433392,-2.143173,-1.813515,...,0,0,0,0,0,0,0,0,0,0

In [19]:
yval.head(3)

0   -0.263395
1    0.029042
2   -0.056035
Name: LogDiff, dtype: float64

In [20]:
print(len(ytrain),len(xtrain))
print(len(ytest),len(xtest))
print(len(yval),len(xval))

815459 815459
126967 126967
340881 340881

In [21]:
ytrain.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/ytrain_stock.pkl")
xtrain.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/xtrain_stock.pkl")

In [22]:
ytest.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/ytest_stock.pkl")
xtest.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/xtest_stock.pkl")

In [23]:
yval.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/yval_stock.pkl")
xval.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_all/xval_stock.pkl")

# Create similar X and Y for category 6 and 7

In [24]:
val6=val6.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category','City','State','NAICS'], axis=1)

test6=test6.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1)

train6=train6.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1)

val7=val7.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category','City','State','NAICS'], axis=1)

test7=test7.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1)

train7=train7.drop(['CaseId', 'Date', 'Year', 'Month','ClosingPrice','Category','Sub-Category', 'City','State','NAICS'], axis=1)

In [25]:

train7=train7.reset_index()


test7=test7.reset_index()


val7=val7.reset_index()


ytest7=test7['LogDiff']
xtest7=test7.drop(['LogDiff','index'],axis=1)

yval7=val7['LogDiff']
xval7=val7.drop(['LogDiff','index'],axis=1)

ytrain7=train7['LogDiff']
xtrain7=train7.drop(['LogDiff','index'],axis=1)

In [26]:
print(len(ytrain7),len(xtrain7))
print(len(ytest7),len(xtest7))
print(len(yval7),len(xval7))

687289 687289
107977 107977
288002 288002

In [27]:
ytrain7.head(1)

0   -0.256809
Name: LogDiff, dtype: float64

In [28]:
ytrain7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/ytrain_stock7.pkl")
xtrain7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/xtrain_stock7.pkl")

ytest7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/ytest_stock7.pkl")
xtest7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/xtest_stock7.pkl")

yval7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/yval_stock7.pkl")
xval7.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_7/xval_stock7.pkl")

In [29]:

train6=train6.reset_index()


test6=test6.reset_index()


val6=val6.reset_index()



ytest6=test6['LogDiff']
xtest6=test6.drop(['LogDiff','index'],axis=1)

yval6=val6['LogDiff']
xval6=val6.drop(['LogDiff','index'],axis=1)

ytrain6=train6['LogDiff']
xtrain6=train6.drop(['LogDiff','index'],axis=1)

print(len(ytrain6),len(xtrain6))
print(len(ytest6),len(xtest6))
print(len(yval6),len(xval6))



ytrain6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/ytrain_stock6.pkl")
xtrain6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/xtrain_stock6.pkl")

ytest6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/ytest_stock6.pkl")
xtest6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/xtest_stock6.pkl")

yval6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/yval_stock6.pkl")
xval6.to_pickle("/data/WorkData/firmEmbeddings/Models/StockPredictionUsingNeuralNetwork/Data_stock_6/xval_stock6.pkl")

128170 128170
18990 18990
52879 52879

In [30]:
xval6.head(1)

,0,1,2,3,4,5,6,7,8,9,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,-3.775103,3.115883,0.316088,-1.804894,-0.221209,1.039743,-4.794109,3.835644,-0.006728,-3.664129,...,0,0,0,0,0,0,0,0,0,0

In [31]:
xval7.head(1)

,0,1,2,3,4,5,6,7,8,9,...,CompanyName_WIDEPOINT CORP,CompanyName_WINTRUST FINANCIAL CORP,CompanyName_WMS INDUSTRIES INC,CompanyName_WOODWARD INC,CompanyName_WPCS INTERNATIONAL INC,CompanyName_XCEL ENERGY INC,CompanyName_XCERRA CORP,CompanyName_XPO LOGISTICS INC,CompanyName_YADKIN FINANCIAL CORP,CompanyName_YAMANA GOLD INC
0,-0.62676,-6.116092,-0.269485,-5.111804,-2.906082,0.131607,-7.342483,4.433392,-2.143173,-1.813515,...,0,0,0,0,0,0,0,0,0,0