In [1]:
import csv
import pandas as pd
import pickle
from numpy import random

In [2]:
with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/testing_data_CaseCompanyStockChange.pkl' , 'rb') as f:
    testf = pd.read_pickle(f)

In [3]:

with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/training_data_CaseCompanyStockChange.pkl' , 'rb') as f:
    trainf = pd.read_pickle(f)

In [4]:
trainf.head(1)

,CaseId,Date,Vector,Year,Month,Category,Sub-Category,CompanyName,ClosingPrice,City,State,NAICS,LogDiff
0,X16G9CO003,2007-03-19,"[-1.08903, -2.65365, 1.82479, -4.44473, 0.0766...",2007,3,7.0,Antitrust & Trade,AAR CORP,31.98,Wood Dale,IL,423860.0,-0.256809

In [5]:
with  open('/data/WorkData/firmEmbeddings/JoinDataPrep/validation_data_CaseCompanyStockChange.pkl' , 'rb') as f:
    valf = pd.read_pickle(f)

# Find common companies in Train, Test, Val data

In [6]:
test_c=list(testf['CompanyName'].unique())
train_c=list(trainf['CompanyName'].unique())
val_c=list(valf['CompanyName'].unique())

In [7]:
print(len(test_c))
print(len(train_c))
print(len(val_c))

840
1069
954

In [8]:
inter=list(set(train_c) & set(test_c) & set(val_c))
print(len(inter))

709

In [9]:
#used in stock prediction for reducing the total data
#inter=random.choice(inter,610)
#print(len(inter))(392 firms)

In [10]:
trainf = trainf[trainf['CompanyName'].isin(inter)]
testf = testf[testf['CompanyName'].isin(inter)]
valf = valf[valf['CompanyName'].isin(inter)]

In [11]:
print(len(list(testf['CompanyName'].unique())))
print(len(list(trainf['CompanyName'].unique())))
print(len(list(valf['CompanyName'].unique())))

709
709
709

In [12]:
trainf=trainf.reset_index()
valf=valf.reset_index()
testf=testf.reset_index()

In [13]:
trainf.head(1)

,index,CaseId,Date,Vector,Year,Month,Category,Sub-Category,CompanyName,ClosingPrice,City,State,NAICS,LogDiff
0,0,X16G9CO003,2007-03-19,"[-1.08903, -2.65365, 1.82479, -4.44473, 0.0766...",2007,3,7.0,Antitrust & Trade,AAR CORP,31.98,Wood Dale,IL,423860.0,-0.256809

# Separate Word Vector in Columns

In [14]:
wordvector_train=pd.DataFrame(trainf['Vector'].values.tolist())

In [15]:
wordvector_test=pd.DataFrame(testf['Vector'].values.tolist())
wordvector_val=pd.DataFrame(valf['Vector'].values.tolist())
print(wordvector_test.head(1))
wordvector_val.head(1)

         0         1         2         3         4         5         6   \
0 -5.355756 -4.489954 -1.216706 -0.793479  3.504418 -1.319556  1.916924

         7         8         9     ...           90        91        92  \
0  2.390682 -3.472963 -1.067831    ...    -0.825897 -0.466171  2.781183

         93        94        95        96        97        98        99
0 -3.971036 -1.978958 -1.044919  2.051879 -1.254211  0.406413  0.681512

[1 rows x 100 columns]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.62676,-6.116092,-0.269485,-5.111804,-2.906082,0.131607,-7.342483,4.433392,-2.143173,-1.813515,...,1.534278,-0.426758,1.065249,-2.246587,-1.925198,-0.831991,-4.984458,1.893231,0.205362,0.936111

In [16]:
trainff1=trainf.drop('Vector',axis=1)
testff1=testf.drop('Vector',axis=1)
valff1=valf.drop('Vector',axis=1)

In [17]:
trainfff=pd.concat([trainff1,wordvector_train],axis=1)
testfff=pd.concat([testff1,wordvector_test],axis=1)
valfff=pd.concat([valff1,wordvector_val],axis=1)

In [18]:
trainfff=trainfff.drop('index',axis=1)
testfff=testfff.drop('index',axis=1)
valfff=valfff.drop('index',axis=1)

In [19]:
testfff.to_pickle('/data/WorkData/firmEmbeddings/JoinDataPrep/test_data_final.pkl')
testfff.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,CompanyName,ClosingPrice,City,State,...,90,91,92,93,94,95,96,97,98,99
0,X1HT4F0N,2013-05-21,2013,5,7.0,Consumer Law,AAR CORP,19.67,Wood Dale,IL,...,-0.825897,-0.466171,2.781183,-3.971036,-1.978958,-1.044919,2.051879,-1.254211,0.406413,0.681512

In [20]:
valfff.to_pickle('/data/WorkData/firmEmbeddings/JoinDataPrep/val_data_final.pkl')
valfff.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,CompanyName,ClosingPrice,City,State,...,90,91,92,93,94,95,96,97,98,99
0,X1HND4A003,2012-05-11,2012,5,7.0,Contracts,AAR CORP,14.95,Wood Dale,IL,...,1.534278,-0.426758,1.065249,-2.246587,-1.925198,-0.831991,-4.984458,1.893231,0.205362,0.936111

In [21]:
trainfff.to_pickle('/data/WorkData/firmEmbeddings/JoinDataPrep/train_data_final.pkl')
trainfff.head(1)

,CaseId,Date,Year,Month,Category,Sub-Category,CompanyName,ClosingPrice,City,State,...,90,91,92,93,94,95,96,97,98,99
0,X16G9CO003,2007-03-19,2007,3,7.0,Antitrust & Trade,AAR CORP,31.98,Wood Dale,IL,...,-5.636431,-4.206227,-1.013956,-2.96628,-2.119134,-6.137543,-4.695908,-1.898719,-0.154589,-3.179704